.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  background-color: #050505;
}

h1 {
  margin: 0;
}

.platforms-container {
  color: blue;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}

.platforms-container th {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  text-align: left;
}

.platforms-container td {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  text-align: left;
}

.leftmost-cell {
  border-left: 1px solid gray;
}
